@use '../../../build/css/typography.css';
@use '../../../build/css/spacing.css';
@use '../../../build/css/color.css';

@each $heading in (h1, h2, h3, h4, h5, h6) {
  #{$heading} {
    color: var(--color-text-default);
    margin-top: var(--typography-margin-#{$heading}-top);
    margin-bottom: var(--typography-margin-#{$heading}-bottom);
  }

  // primary
  .#{$heading}-primary {
    font: var(--typography-primary-#{$heading});
  }

  // secondary
  .#{$heading}-secondary {
    font: var(--typography-secondary-#{$heading});
  }
}
