@use 'chaestli';

.list {
  --gutter: var(--spacing-base-5);

  display: flex;
  gap: var(--gutter);
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;

  @media (--mq-respond-up-sm) {
    display: grid;

    @include chaestli.grid(
      (
        gutter: (
          var(--gutter),
          var(--gutter),
        ),
        num-cols: 2,
      )
    );
  }

  @media (--mq-respond-up-md) {
    @include chaestli.grid(
      (
        gutter: (
          var(--gutter),
          var(--gutter),
        ),
        num-cols: 4,
      )
    );
  }
}

.item {
  display: flex;
  flex-direction: column;
  width: 100%;

  figure {
    padding: 0;
    margin: 0;
    flex: 1 1 100%;
    width: 100%;
    aspect-ratio: 1;
    border-radius: var(--radius-base-medium);
  }

  &:nth-child(1) {
    figure {
      box-shadow: var(--shadow-box-default);
    }
  }

  &:nth-child(2) {
    figure {
      box-shadow: var(--shadow-box-high);
    }
  }
}
