.container {
  @media (--mq-respond-down-sm) {
    h1 {
      font-size: var(--typography-font-size-8);
    }

    h2 {
      font-size: var(--typography-font-size-7);
    }

    h3 {
      font-size: var(--typography-font-size-6);
    }

    h4 {
      font-size: var(--typography-font-size-5);
    }

    h5 {
      font-size: var(--typography-font-size-4);
    }

    h6 {
      font-size: var(--typography-font-size-3);
    }
  }
}
